.auth-wrapper {
    background: linear-gradient(to right, #0062E6, #33AEFF); /* Example gradient background */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .mat-form-field {
    margin-bottom: 20px;
  }
  
  button {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Additional styles for icons inside input fields if you decide to add them */
  .input-icon {
    position: absolute;
    margin: 12px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  /* Improve the visibility of input text */
  input::placeholder {
    color: white;
  }
  input {
    color: white;
  }
  
  /* Toggle between login and sign-up mode */
  .onSwitchMode {
    cursor: pointer;
    color: #0D47A1;
    text-decoration: underline;
  }